/* empty add HS website specific css here */

/* Section -> Subtle Top-Border */
section {
    padding-top: 70px;
    padding-bottom: 60px;
    border-top-width: 1px;
    border-top-style: solid;
    border-color: #e0e0e0;
}

/* List -> "Refined List" Class */
ul.refine {
    list-style-type: none;
}
ul.refine > li:first-child {
    padding-top: 0;
}
ul.refine > li {
    padding-bottom: 8px;
    border-bottom: 1px solid #e0e0e0;
    padding-top: 10px;
}

/* Highlight-Box -> Wrap box */
.highlight-box-wrap {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.08);
    background-color: #f1eded;
    border: 1px solid #f1f1f1;
    position: relative;
    margin-bottom: 30px;
    padding: 20px 20px 10px;
}

/* Mainly used for index.html, but can be used throughout */
/* Button -> Maroon background, golden text, animate on hover */
.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #5e2121;
  border: none;
  color: #d1af83;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin:auto;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

/* Added Contact Form CSS; style from: https://www.pixpa.com/contact-us */
.contact-form-field {
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    outline: 0;
    width: 80%;
    padding: 15px 20px;
    margin-bottom: 20px;
    font-size: 16px;
}

/* Added font-style for drop-down list */
option.style1{
    font-family: SignikaDevanagariRegular;
}
