/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */

/*
Document
========
*/

/**
Use a better box model (opinionated).
*/

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/**
Use a more readable tab size (opinionated).
*/

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  font-size: 16px;
}

/*
Sections
========
*/

/**
Remove the margin in all browsers.
*/

body {
  margin: 0;
  color: #3f3333;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/

body {
  font-family: system-ui, -apple-system,
    /* Firefox supports this but not yet `system-ui` */ "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/

/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/

hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/

/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo,
    monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/

/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/

table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/

/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/

button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/

legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

@font-face {
  font-family: Poppins-Devanagari;
  src: url(https://nithyanandauniversity.github.io/fontrepo/PoppinsDevanagari/Poppins-Devanagari.ttf);
}

@font-face {
  font-family: Mart-Devanagari;
  src: url(https://nithyanandauniversity.github.io/fontrepo/Mart%20Devanagari/MartDevanagari.ttf);
}

@font-face {
  font-family: SourceSansPro-Devanagari;
  src: url(https://nithyanandauniversity.github.io/fontrepo/SourceSansProDevanagari/SourceSansPro-Devanagari.ttf);
}

@font-face {
  font-family: Karla-Devanagari;
  src: url(https://nithyanandauniversity.github.io/fontrepo/KarlaDevanagari/Karla-Devanagari.ttf);
}

@font-face {
  font-family: Nunito-Devanagari;
  src: url(https://nithyanandauniversity.github.io/fontrepo/NunitoDevanagari/Nunito-Devanagari.ttf);
}

@font-face {
  font-family: Ubuntu-Devanagari;
  src: url(https://nithyanandauniversity.github.io/fontrepo/UbuntuDevanagari/Ubuntu-Devanagari.ttf);
}

@font-face {
  font-family: Ubuntu-Devanagari-Light;
  src: url(https://nithyanandauniversity.github.io/fontrepo/UbuntuDevanagari/Ubuntu-Devanagari-Light.ttf);
}

@font-face {
  font-family: Ubuntu-Devanagari-Caps;
  src: url(https://nithyanandauniversity.github.io/fontrepo/UbuntuDevanagari/Ubuntu-Devanagari-Caps.ttf);
}

@font-face {
  font-family: Merriweather-Devanagari;
  src: url(https://nithyanandauniversity.github.io/fontrepo/MerriweatherDevanagari/MerriweatherDevanagari.ttf);
}

@font-face {
  font-family: Merriweather-Devanagari-Caps;
  src: url(https://nithyanandauniversity.github.io/fontrepo/MerriweatherDevanagari/Merriweather-Devanagari-Caps.ttf);
}

@font-face {
  font-family: WorkSans-Devanagari;
  src: url(https://nithyanandauniversity.github.io/fontrepo/WorkSansDevanagari/WorkSans-Devanagari.ttf);
}

@font-face {
  font-family: OpenSans-Devanagari;
  src: url(https://nithyanandauniversity.github.io/fontrepo/OpenSansDevanagari/OpenSansDevanagari.ttf);
}

@font-face {
  font-family: MavenPro-Devanagari;
  src: url(https://nithyanandauniversity.github.io/fontrepo/MavenProDevanagari/MavenProDevanagari.ttf);
}

@font-face {
  font-family: ABeeZee-Devanagari;
  src: url(https://nithyanandauniversity.github.io/fontrepo/ABeeZeeDevanagari/ABeeZeeDevanagari.ttf);
}

@font-face {
  font-family: Questrial-Devanagari;
  src: url(https://nithyanandauniversity.github.io/fontrepo/QuestrialDevanagari/Questrial-Devanagari.ttf);
}

@font-face {
  font-family: Raleway-Devanagari;
  src: url(https://nithyanandauniversity.github.io/fontrepo/RalewayDevanagari/Raleway-Devanagari.ttf);
}

@font-face {
  font-family: SignikaDevanagari;
  src: url(https://nithyanandauniversity.github.io/fontrepo/SignikaDevanagari/SignikaDevanagari.ttf);
}

body {
  font-family: MavenPro-Devanagari;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #5e2121;
  margin-bottom: 0.3em;
  line-height: 1.4em;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.75rem;
}

h6 {
  font-size: 0.5rem;
}

a {
  color: #b69d7e;
  text-decoration: none;
  transition: 0.3s ease;
}

p {
  font-size: 1.06rem;
  margin-bottom: 1em;
  line-height: 1.7em;
}

p a:hover {
  color: #d1af83;
  background-color: #d1af8330;
}

img {
  width: 100%;
}

.container-fluid,
.container {
  margin-right: auto;
  margin-left: auto;
}

.container-fluid {
  padding-right: 2rem;
  padding-left: 2rem;
}

.row {
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  row-gap: 2rem;
}

.row.reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.col.reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}

.col-xs,
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-offset-0,
.col-xs-offset-1,
.col-xs-offset-2,
.col-xs-offset-3,
.col-xs-offset-4,
.col-xs-offset-5,
.col-xs-offset-6,
.col-xs-offset-7,
.col-xs-offset-8,
.col-xs-offset-9,
.col-xs-offset-10,
.col-xs-offset-11,
.col-xs-offset-12 {
  box-sizing: border-box;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.col-xs {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  max-width: 100%;
}

.col-xs-1 {
  -ms-flex-preferred-size: 8.33333333%;
  flex-basis: 8.33333333%;
  max-width: 8.33333333%;
}

.col-xs-2 {
  -ms-flex-preferred-size: 16.66666667%;
  flex-basis: 16.66666667%;
  max-width: 16.66666667%;
}

.col-xs-3 {
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  max-width: 25%;
}

.col-xs-4 {
  -ms-flex-preferred-size: 33.33333333%;
  flex-basis: 33.33333333%;
  max-width: 33.33333333%;
}

.col-xs-5 {
  -ms-flex-preferred-size: 41.66666667%;
  flex-basis: 41.66666667%;
  max-width: 41.66666667%;
}

.col-xs-6 {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  max-width: 50%;
}

.col-xs-7 {
  -ms-flex-preferred-size: 58.33333333%;
  flex-basis: 58.33333333%;
  max-width: 58.33333333%;
}

.col-xs-8 {
  -ms-flex-preferred-size: 66.66666667%;
  flex-basis: 66.66666667%;
  max-width: 66.66666667%;
}

.col-xs-9 {
  -ms-flex-preferred-size: 75%;
  flex-basis: 75%;
  max-width: 75%;
}

.col-xs-10 {
  -ms-flex-preferred-size: 83.33333333%;
  flex-basis: 83.33333333%;
  max-width: 83.33333333%;
}

.col-xs-11 {
  -ms-flex-preferred-size: 91.66666667%;
  flex-basis: 91.66666667%;
  max-width: 91.66666667%;
}

.col-xs-12 {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%;
}

.col-xs-offset-0 {
  margin-left: 0;
}

.col-xs-offset-1 {
  margin-left: 8.33333333%;
}

.col-xs-offset-2 {
  margin-left: 16.66666667%;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-offset-4 {
  margin-left: 33.33333333%;
}

.col-xs-offset-5 {
  margin-left: 41.66666667%;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-offset-7 {
  margin-left: 58.33333333%;
}

.col-xs-offset-8 {
  margin-left: 66.66666667%;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-offset-10 {
  margin-left: 83.33333333%;
}

.col-xs-offset-11 {
  margin-left: 91.66666667%;
}

.start-xs {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: start;
}

.center-xs {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.end-xs {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: end;
}

.top-xs {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.middle-xs {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.bottom-xs {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.around-xs {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.between-xs {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.first-xs {
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1;
}

.last-xs {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

@media only screen and (min-width: 48em) {
  .container {
    width: 49rem;
  }

  .col-sm,
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm-offset-0,
  .col-sm-offset-1,
  .col-sm-offset-2,
  .col-sm-offset-3,
  .col-sm-offset-4,
  .col-sm-offset-5,
  .col-sm-offset-6,
  .col-sm-offset-7,
  .col-sm-offset-8,
  .col-sm-offset-9,
  .col-sm-offset-10,
  .col-sm-offset-11,
  .col-sm-offset-12 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }

  .col-sm {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }

  .col-sm-1 {
    -ms-flex-preferred-size: 8.33333333%;
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }

  .col-sm-2 {
    -ms-flex-preferred-size: 16.66666667%;
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }

  .col-sm-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }

  .col-sm-4 {
    -ms-flex-preferred-size: 33.33333333%;
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }

  .col-sm-5 {
    -ms-flex-preferred-size: 41.66666667%;
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }

  .col-sm-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }

  .col-sm-7 {
    -ms-flex-preferred-size: 58.33333333%;
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }

  .col-sm-8 {
    -ms-flex-preferred-size: 66.66666667%;
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }

  .col-sm-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }

  .col-sm-10 {
    -ms-flex-preferred-size: 83.33333333%;
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }

  .col-sm-11 {
    -ms-flex-preferred-size: 91.66666667%;
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }

  .col-sm-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }

  .col-sm-offset-0 {
    margin-left: 0;
  }

  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }

  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }

  .col-sm-offset-3 {
    margin-left: 25%;
  }

  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }

  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }

  .col-sm-offset-6 {
    margin-left: 50%;
  }

  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }

  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }

  .col-sm-offset-9 {
    margin-left: 75%;
  }

  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }

  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }

  .start-sm {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start;
  }

  .center-sm {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }

  .end-sm {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end;
  }

  .top-sm {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .middle-sm {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .bottom-sm {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .around-sm {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .between-sm {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .first-sm {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }

  .last-sm {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
}

@media only screen and (min-width: 64em) {
  .container {
    width: 65rem;
  }

  .col-md,
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md-offset-0,
  .col-md-offset-1,
  .col-md-offset-2,
  .col-md-offset-3,
  .col-md-offset-4,
  .col-md-offset-5,
  .col-md-offset-6,
  .col-md-offset-7,
  .col-md-offset-8,
  .col-md-offset-9,
  .col-md-offset-10,
  .col-md-offset-11,
  .col-md-offset-12 {
    box-sizing: border-box;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }

  .col-md {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }

  .col-md-1 {
    -ms-flex-preferred-size: 8.33333333%;
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }

  .col-md-2 {
    -ms-flex-preferred-size: 16.66666667%;
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }

  .col-md-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }

  .col-md-4 {
    -ms-flex-preferred-size: 33.33333333%;
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }

  .col-md-5 {
    -ms-flex-preferred-size: 41.66666667%;
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }

  .col-md-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }

  .col-md-7 {
    -ms-flex-preferred-size: 58.33333333%;
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }

  .col-md-8 {
    -ms-flex-preferred-size: 66.66666667%;
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }

  .col-md-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }

  .col-md-10 {
    -ms-flex-preferred-size: 83.33333333%;
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }

  .col-md-11 {
    -ms-flex-preferred-size: 91.66666667%;
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }

  .col-md-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }

  .col-md-offset-0 {
    margin-left: 0;
  }

  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }

  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }

  .col-md-offset-3 {
    margin-left: 25%;
  }

  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }

  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }

  .col-md-offset-6 {
    margin-left: 50%;
  }

  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }

  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }

  .col-md-offset-9 {
    margin-left: 75%;
  }

  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }

  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }

  .start-md {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start;
  }

  .center-md {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }

  .end-md {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end;
  }

  .top-md {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .middle-md {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .bottom-md {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .around-md {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .between-md {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .first-md {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }

  .last-md {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
}

@media only screen and (min-width: 75em) {
  .container {
    width: 76rem;
  }

  .col-lg,
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-lg-offset-0,
  .col-lg-offset-1,
  .col-lg-offset-2,
  .col-lg-offset-3,
  .col-lg-offset-4,
  .col-lg-offset-5,
  .col-lg-offset-6,
  .col-lg-offset-7,
  .col-lg-offset-8,
  .col-lg-offset-9,
  .col-lg-offset-10,
  .col-lg-offset-11,
  .col-lg-offset-12 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }

  .col-lg {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }

  .col-lg-1 {
    -ms-flex-preferred-size: 8.33333333%;
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }

  .col-lg-2 {
    -ms-flex-preferred-size: 16.66666667%;
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }

  .col-lg-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }

  .col-lg-4 {
    -ms-flex-preferred-size: 33.33333333%;
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }

  .col-lg-5 {
    -ms-flex-preferred-size: 41.66666667%;
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }

  .col-lg-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }

  .col-lg-7 {
    -ms-flex-preferred-size: 58.33333333%;
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }

  .col-lg-8 {
    -ms-flex-preferred-size: 66.66666667%;
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }

  .col-lg-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }

  .col-lg-10 {
    -ms-flex-preferred-size: 83.33333333%;
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }

  .col-lg-11 {
    -ms-flex-preferred-size: 91.66666667%;
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }

  .col-lg-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }

  .col-lg-offset-0 {
    margin-left: 0;
  }

  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }

  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }

  .col-lg-offset-3 {
    margin-left: 25%;
  }

  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }

  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }

  .col-lg-offset-6 {
    margin-left: 50%;
  }

  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }

  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }

  .col-lg-offset-9 {
    margin-left: 75%;
  }

  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }

  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }

  .start-lg {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start;
  }

  .center-lg {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }

  .end-lg {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end;
  }

  .top-lg {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .middle-lg {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .bottom-lg {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .around-lg {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .between-lg {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .first-lg {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }

  .last-lg {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
}

.nu_hero_banner {
  background-size: cover;
  background-position: center;
  height: 50vh;
  display: flex;
  align-items: flex-end;
  background-image: url("./Standards_files/Anandotsava-small-centered.jpg");
  background-size: cover;
  background-position: center;
}

.nu_page_title_container {
  background: #ffffff;
  margin: 0 5%;
  width: 100%;
  transform: translateY(30%);
  padding-bottom: 1rem;
}

.nu_page_subtitle {
  padding: 10px;
  transform: translateY(-50%);
  width: max-content;
  background: #5e2121;
}

.nu_page_title_row {
  width: 88.88%;
  margin: 0 auto;
  padding: 0 15px;
}

.nav_children {
  font-size: 18px;
  color: #333;
  box-sizing: border-box;
  margin: 0.5rem 0;
  position: relative;
}

.nav_children_ul {
  list-style: none;
  position: relative;
  display: flex;
  flex-flow: row wrap;
  padding: 0;
  align-items: center;
  list-style-type: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  justify-content: flex-start;
}

.nav_children_ul > li:not(:first-child) {
  padding: 0 0.5rem;
}

.nav_children_ul > li:first-child {
  padding-right: 0.5rem;
}

@media all and (max-width: 500px) {
  html {
    font-size: 12px;
  }
  .nu_page_title_container {
    margin: 0;
    width: 100%;
  }
  .nu_page_title_row {
    width: 85%;
  }
  .nu_hero_banner {
    height: 35vh;
  }
  .row {
    width: 85%;
  }
}

.menu_nav {
  border-bottom-width: 0.5rem;
  position: relative;
  display: flex;
}

.menu_navdiv {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  z-index: 2;
}

.menu_group_ul {
  display: flex;
  margin: 0;
  list-style: none;
  padding: 0;
}

.menu_link_li {
  margin: 0;
  padding: 0;
}

.menu_link_a {
  position: relative;
  display: block;
  padding: 1.5rem;
}

.menu_mega {
  padding: 1.5rem;
  /*mega-menu{*/
  display: none;
  left: 0;
  position: absolute;
  text-align: left;
  width: 100%;
  /*}*/
  margin-bottom: 4rem;
  /*media-query-todo*/
}

.menu_toggle_input {
  display: none;
}

.menu_toggle_input:not(checked) ~ .menu_mega { /*menu_toggle_div*/
  display: none;
}

.menu_toggle_input:checked ~ .menu_mega { /*.menu_toggle_div*/
  display: block;
}

@keyframes rotate180 {
  from {
    transform:  rotate(180deg);
    color : #ffffff;
  }
  to {
    transform: rotate(0deg);
    color: #d1af83;
  }
}

.menu_toggle_label:after {
  content: "\25BC";
  font-size: 0.6rem;
  margin-left: 0.3rem;
  display: inline-block;
}

.menu_toggle_input:checked ~ .menu_toggle_label:after {
  content: "\25B2";
  font-size: 0.6rem;
  margin-left: 0.3rem;
  display: inline-block;
  animation : rotate180 2s linear;
  /*font-size: 10px;
  padding-left: 6px;
  position: relative;
  top: -1px;*/
}

.menu_toggle_close {
  color : #ffffff;
  font-size: 2em;
  position: relative;
  left : 2em;
}

.menu_mega_div {
  width: 100%;
  margin: 0 0.5rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin-left: auto;
  margin-right: auto;
  row-gap: 20px;
}

@media all and (max-width: 500px) {
  .menu_mega_div {
    flex-flow: column nowrap;
  }
}

.menu_hover_li {
  position: static;
  margin: 0;
  padding: 0;
}

.menu_hover_li:hover div.menu_mega {
  display: block;
}

.menu_hover_a {
  padding: 1.5rem;
  display: block;
}

.menu_toggle_label {
  padding: 1.5rem;
  display: block;
}

.menu_hover_a:after {
  content: "\25BC";
  font-size: 0.6rem;
  margin-left: 0.3rem;
}

.col_ul {
  list-style: none;
  flex: 1 1 20%;
  min-width: 250px;
  padding: 0 20px 20px 20px;
}

.nu_main {
  height: 100%;
  width: 100%;
}

.nu_footer {
  display: block;
  position: relative;
  z-index: 10;
  background: #400404;
  padding: 15px 0;
}

.container {
  width: 100%;
}

.responsive_iframe_container,
.iframe-thumbnail {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
  /* 16:9 Aspect Ratio */
}

.responsive_iframe,
.iframe_thumbnail img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.iframe_thumbnail img {
  object-fit: cover;
  object-position: center;
}

.nu_body {
  box-sizing: border-box;
  margin: 0;
  line-height: 1.42857;
  background-color: #fff;
  height: 100%;
  width: 100%;
  transition: 0.5s;
}

.nu_page_title {
  margin-top: -20px;
}

.nu_page_subtitle h2 {
  font-size: 1rem;
  letter-spacing: 3px;
  color: #ffffff;
  margin: 0;
  text-transform: uppercase;
  line-height: 1em;
}

.nu_page_title h1 {
  color: #5e2121;
  margin: 0;
  font-size: 3.5rem;
}

.menu_nav {
  border-color: #e5e7eb;
  /* ? */
  background: #5e2121;
  /*570F0C;*/
}

.menu_logo_div {
  color: #f2ce9f;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto 1.5rem;
}

.menu_logo_a {
  font-weight: normal;
  font-size: 2.25rem;
  color: #f2ce9f;
  margin: 0px;
  padding-left: 0.5rem;
}

.menu_logo_img {
  max-width: 35px;
  /*margin-top : auto; margin-bottom : auto;*/
}

.menu_link_a {
  font-size: 1.125rem;
  color: #ffffff;
  text-decoration-line: none;
}

.menu_link_a:hover {
  color: #d1af83;
  cursor: pointer;
  transition: 0.8s;
}

.menu_toggle_label {
  font-size: 1.125rem;
  color: #ffffff;
  text-decoration-line: none;
}

.menu_toggle_label:hover {
  color: #d1af83;
  cursor: pointer;
  transition: 0.8s;
}

.menu_mega {
  background: linear-gradient(180deg, #6a2524, #570f0c), #6a2524;
}

.menu_mega_div {
  border-bottom: 1px solid #d1af8320;
}

.menu_hover_li {
  transition: 0.3s;
}

.menu_hover_li:hover {
  background: #6a2524;
}

.menu_hover_a {
  font-size: 1.125rem;
  color: #ffffff;
  text-decoration-line: none;
}

.menu_hover_a:hover {
  color: #d1af83;
  cursor: pointer;
  transition: 0.8s;
}

.col_ul {
  border-bottom: 1px solid #d1af8320;
  margin-bottom: -1px;
}

.col_li {
  margin: 15px 0;
}

.col_li:hover a {
  color: #d1af83;
}

.col_h {
  color: #f2ce9f;
  font-size: 1.125rem;
}

.col_p {
  color: #ffffff;
  font-size: 0.875rem;
}

.col_a {
  position: relative;
  color: #ffffff;
  transition: 0.3s ease;
  text-decoration: none;
  margin-top: 10px;
  font-size: 0.875rem;
}

.col_a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #d1af83;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.col_div .col_a {
  color: #d1af83;
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 3px;
}

.col_li:hover a:after {
  width: 100%;
  left: 0;
}

.nav_children_ul a {
  text-decoration: none;
  color: #5e2121;
}

.nav_children_ul a:hover {
  background: #d1af8330;
}

.nav_children_ul > li:not(:last-child) {
  border-right: 1px solid #d1af8380;
}

.nu_main {
  transition: 0.5s;
}

.section,
section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section.section-sm,
section.section-sm {
  padding-top: 30px;
  padding-bottom: 30px;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding: 0;
}

.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.bg-lightgray {
  background-color: #f5f5f5;
}

.bg-darkgray {
  display: block;
  border-top-width: 1px;
  border-top-style: solid;
  background-color: #333;
  color: #eee;
  border-color: #222;
  padding-top: 30px;
  padding-bottom: 30px;
}

blockquote {
  border-left: 4px solid #d1af8350;
  margin: 0 1.5rem;
}

blockquote p {
  position: relative;
  padding: 0 1.5rem;
  font-size: 1rem;
}

blockquote::before {
  content: "\201D" !important;
  font-family: sans-serif;
  font-size: 120px;
  color: rgba(51, 51, 51, 0.25);
  float: right;
  top: -30px;
  right: -7.5px;
  position: absolute;
  opacity: 0.5;
}

.responsive_iframe_container,
.iframe_thumbnail {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
}

.responsive_iframe_container iframe,
.iframe_thumbnail img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.iframe_thumbnail img {
  object-fit: cover;
  object-position: center;
}

.footer_content {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  color: #d1af83;
}

.highlight-box {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.08);
  background-color: #f1eded;
  border: 1px solid #f1f1f1;
  position: relative;
  margin-bottom: 30px;
  height: 100%;
}

.highlight-box .img-top {
  padding: 0;
  margin-bottom: 0;
  width: 100%;
  height: auto;
  position: relative;
  display: block;
  overflow: hidden;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.highlight-box .img-top img {
  width: 100%;
}

img.hover-zoom {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  overflow: hidden;
  transform: scale(1);
  transition: 0.35s ease;
}

img.hover-zoom:hover {
  transform: scale(1.05);
}

.highlight-box > .box-text {
  padding: 5px 20px 10px;
  margin-bottom: 10px;
  position: relative;
}

.highlight-box h5.entry-name {
  font-size: 1.5rem;
}

.highlight-box h5.entry-name > a {
  color: #5e2121;
}

.highlight-box:hover h5.entry-name > a {
  color: #d1af83;
}

.lead {
  font-size: 1.5rem;
  color: #d1af83;
  line-height: 1.3em;
  margin-bottom: 0.3em;
}

footer .lead {
  font-size: 1rem;
  margin: 0;
}

footer p {
  margin: 0;
}
